body {
      background-image: url("https://images.pexels.com/photos/1413412/pexels-photo-1413412.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      background-size: cover;
      font-family: Arial, sans-serif;
      background-attachment: scroll;
    }
    
    form {
      max-width: 600px;
      margin: 50px auto ;
      padding: 30px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
    }
    
    h1 {
      text-align: center;
      color: #ff4081;
      font-size: 28px;
      margin-bottom: 30px;
    }
    
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #333;
    }
    
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select,
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    select {
      height: 35px;
    }
    
    textarea {
      height: 100px;
    }
    
    .submit-btn {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      background-color: #ff4081;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .submit-btn:hover {
      background-color: #e03c73;
    }
    
    footer {
      text-align: center;
      color: #fff;
      margin-top: 30px;
    }